.swiper {
  width: 100%;
  min-height: calc(100vh - 100px);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  width: 80%;
  height: 88vh !important;
  color: black;
}
