.card {
  display: flex;
  align-items: center;

  .cardInfo {
    opacity: 0;
    transition: all 1s;
  }

  .active {
    opacity: 1;
    transition: all 1s;
  }

  .cardImg {
    width: 70%;
  }

  .title {
    white-space: nowrap;
    margin-bottom: 25px;
  }

  .subtitle {
    text-align: left;
    margin-bottom: 25px;
  }

  .cardButton {
    width: 100%;
  }
}
